body {
    margin: 0;
    background-color: #1B244A;
    font-family: Cursed Timer ULiL;
}

.container {
    display: flex;
    justify-content: space-around;
    
}

.team-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 h3 {
    font-size: 40px;
    font-display: bold;
    font-weight: 700;
    color: #EEEEEE;
    margin-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .scoreboard{
    width: 155px;
    height: 120px;
    margin: 21px 0 26px 0;
    background-color: #080001;
    color: #F94F6D;
    font-size: 90px;
    font-weight: bold;
    display:flex;
    align-items: center;
    justify-content: center;   
    border-radius: 5px;
 }
 .btn-sec{
    display: flex;
    justify-content: space-around;
    width: 155px;
    height: 45px;
    margin-top: 26px;
 }
 
 button {
    font-family: Cursed Timer ULiL;
    width: 40px;
    height: 35px;
    background-color: #1B244A;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    color: #9AABD8;
 }
 #reset{
    margin-top: 20px;
    width: 80px;
    height: 40px;
    font-size: 30px;
 }